/* Main.css */
:root {
  /* Panels */
  --panel-bg-color: #efefef30;
  --panel-padding: 0 1.2rem 0;
  --panel-radius: 2px;
  --panel-border-bottom: 1px solid #e3e3e3;
  /* Sub heading */
  --subHeading-color: rgba(0,0,0,.62);
  --subHeading-font-size: 18px;
  --subHeading-font-weight: 600;
  --subHeading-margin: 1em auto;
}



.panels {
  background: var(--panel-bg-color);
  padding: var(--panel-padding);
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);

  &>row:not(:frist-child) {
    padding-bottom:.5rem;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 2px solid #e3e3e3;
  }
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: var(--subHeading-margin);
}
