/* Main.css */
:root {
  /* Panels */
  --panel-bg-color: #efefef30;
  --panel-padding: 0 1.2rem 0;
  --panel-radius: 2px;
  --panel-border-bottom: 1px solid #e3e3e3;
  /* Sub heading */
  --subHeading-color: rgba(0,0,0,.62);
  --subHeading-font-size: 18px;
  --subHeading-font-weight: 600;
  --subHeading-margin: 1em auto;
}