/* ContactInformationView */
.rowHeader {
  margin-bottom: 10px;
  padding-top: 10px;
  &>h4 {
    margin-bottom: 15px;
  }
  & hr {
    margin-bottom: 20px;
  }
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: 0 0 var(--subHeading-margin);
}