/* ContactInformationform */
.panels {
  background: var(--panel-bg-color);
  padding: var(--panel-padding);
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: var(--subHeading-margin);
}