/* ContactPeopleForm.css */
.panels {
  background: var(--panel-bg-color);
  padding: 1.2rem 1.2rem 0;
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: .3rem auto 1em;
}