/* ContactPeopleForm.css */
.panels {
  background: var(--panel-bg-color);
  padding: var(--panel-padding);
  border-radius: var(--panel-radius);
  border-bottom: var(--panel-border-bottom);

  &>row:not(:first-child) {
    padding-bottom:.5rem;
    border-radius: 2px;
    overflow: hidden;
    border-bottom: 2px solid #e3e3e3;
  }
}

.subHeadings {
  color: var(--subHeading-color);
  font-size: var(--subHeading-font-size);
  font-weight: var(--subHeading-font-weight);
  margin: var(--subHeading-margin);
}